.banner {
    background-image: url('/contact/img/banner\ contact.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.banner .row {
    color: var(--white);
    z-index: 10;
}

.banner.section,
.banner.section .row {
    min-height: 80vh;
}